body{
    background-image: url("images/main21.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-bar {
    background: transparent;
    text-align: center;
}

.menu-bar ul {
    color: white;
    list-style: none;
    display: inline-flex;
}

.menu-bar ul li {
    width: 200px;
    margin: 8px;
    padding: 20px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
}

.menu-bar ul li:hover {
    background: #7a7a7a45;
}

.sub-menu-1, .sub-menu-2, .sub-menu-3, .sub-menu-4 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin: 15px;
    margin-bottom: -15px;
}   

.menu-bar ul li:hover .sub-menu-1 ul{
   display: block;
   margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px #fff;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #343434;
}


.hover-me:hover .sub-menu-2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
}

.hover-me:hover .sub-menu-3{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
}

.hover-me:hover .sub-menu-4{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
}
